<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Kiosko</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="assets/css/Bold-BS4-CSS-Image-Slider.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-Jumbotron-with-Particles-js-1.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-Jumbotron-with-Particles-js.css">
    <link rel="stylesheet" href="assets/css/cards.css">
    <link rel="stylesheet" href="assets/css/Drag-and-Drop-File-Input.css">
    <link rel="stylesheet" href="assets/css/Drag-and-Drop-Multiple-File-Form-Input-upload-Advanced.css">
    <link rel="stylesheet" href="assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="assets/css/Highlight-Phone.css">
    <link rel="stylesheet" href="assets/css/login-form---Ambrodu-1.css">
    <link rel="stylesheet" href="assets/css/login-form---Ambrodu.css">
    <link rel="stylesheet" href="assets/css/Ludens-Users---2-Register.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Responsive-Image-File-Input.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="index.html" style="font-size: 40px;">El Kiosko</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul><span class="navbar-text actions"> <a class="login" href="index.html#loginForm" style="font-size: 20px;color: rgb(70, 87, 101);">Iniciar sesión</a><a class="btn btn-light action-button" role="button" href="registro.html" style="font-size: 20px;background: rgb(179,236,236);color: rgb(34,34,34);">Regístrate!</a></span>
            </div>
        </div>
    </nav>
    <h1 style="margin-left: 40px;margin-bottom: 1em;">Creando colección&nbsp;</h1>
    <input type="number" id="precioAlbum" style=" margin-left: 40px ;border-width: 2px;border-radius: .2em;padding-left: 10px;text-align: left;margin-top: 20px;font-family: 'Open Sans', sans-serif;font-size: 18px;margin-right: 0;line-height: 34px;letter-spacing: 0px;font-style: normal;font-weight: bold;height: 46px;width: 223px;" name="Precio del Album" placeholder="Precio del Album" inputmode="numeric" autocomplete="off" required="" pattern="\d*">
    <div>
        <div class="container">
            <div class="cust_bloglistintro">
                <p style="margin-left:34px;color:rgba(255,255,255,0.5);font-size:14px;"></p>
            </div>
            <div class="row">
                <% fotos.forEach(function(foto) { %>
                <div class="col-md-4 cust_blogteaser" style="padding-bottom: 20px;margin-bottom: 32px;"><a href="#">
                    <img class="img-fluid" style="height:auto;" src="cromos/<%= nombreColeccion %>/<%= foto %>"></a>
                    <h3 style="text-align:left;margin-top:20px;font-family:'Open Sans', sans-serif;font-size:18px;margin-right:0;margin-left:24px;line-height:34px;letter-spacing:0px;font-style:normal;font-weight:bold;">Cromo<br></h3>
                    <form id="formulario_<%= foto %>">
                        <input class="form-control-sm" type="text" id="nombre_<%= foto %>" style="text-align:left;margin-top:20px;font-family:'Open Sans', sans-serif;font-size:18px;margin-right:0;margin-left:24px;line-height:34px;letter-spacing:0px;font-style:normal;font-weight:bold;" name="Nombre" placeholder="Nombre"><a class="h4" href="#"></a>
                        <input type="number" id="precio_<%= foto %>" style="border-width: 2px;border-radius: .2em;padding-left: 10px;text-align: left;margin-top: 20px;font-family: 'Open Sans', sans-serif;font-size: 18px;margin-right: 0;margin-left: 24px;line-height: 34px;letter-spacing: 0px;font-style: normal;font-weight: bold;height: 46px;width: 223px;" name="Precio" placeholder="Precio" inputmode="numeric" autocomplete="off" required="" pattern="\d*">
                        <input type="number" id="cantidad_<%= foto %>" style="border-width: 2px;border-radius: .2em;padding-left: 10px;text-align: left;margin-top: 20px;font-family: 'Open Sans', sans-serif;font-size: 18px;margin-right: 0;margin-left: 24px;line-height: 34px;letter-spacing: 0px;font-style: normal;font-weight: bold;height: 46px;width: 223px;" name="Cantidad" placeholder="Cantidad" inputmode="numeric" autocomplete="off" required="" pattern="\d*">
                    </form>
                </div>
                <% }); %>
                <button onclick="crearColeccion()" class="btn btn-primary" type="button" style="color: rgb(34,34,34);;border: 0;background: rgb(179,236,236);padding-bottom: 25px;padding-top: 25px ; margin-bottom: 10px; font-size: 50px;">ENVIAR</button>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Drag-and-Drop-Multiple-File-Form-Input-upload-Advanced.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/assets/js/cromos.js"></script>
    <script>var nombreColeccion = "<%= nombreColeccion %>";</script>
</body>

</html>